body {
	background-color: #3A3A3A;
	color: #eee;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 8px;
	margin: 0; padding: 0; /* Need to set body margin and padding to get consistency between browsers. */
}
h1 {
	font-size: 35px;
	line-height: 0.01;
}
h2 {
}
img {
	border: none;
}
a {
	color: #999;
}
a:visited {
	color: #999;
}
a:hover {
	color: #ccc;
}
section {
	background-color: #000;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 48px outset #999999;
	margin: 50px auto;
	padding: 0 40px 20px;
	text-align: center;
	width: 300px;
}