:root {
  --bg: #0b0e14;
  --accent: #00f2ff;
  --text: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--text);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(80px);
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
}

.card {
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.2rem 3rem 2rem 3rem;
  border-radius: 24px;
  text-align: center;
  max-width: 500px;
  animation: scaleIn 4s ease-out;
}

h1 {
  background-clip: text;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  letter-spacing: -1px;
  background: linear-gradient(to left, #fff, var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0 0 2rem 0;
}

a.btn {
  background: var(--accent);
  color: #000;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
  display: inline-block;
}
a.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 242, 255, 0.4);
}

@keyframes scaleIn {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
